[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
